/* navigation font */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
html{
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

/* Navigation */
nav{
    font-weight: bold;
    font-size: 1.2rem;
    min-height: 70px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "logo navigation navigation navigation navigation";
    padding-top: 10px;
}

nav .logo{
    grid-area: logo;
    font-size: 1.8rem;
    padding:0 60px;
    letter-spacing: 0.5px;
    color: #CF4532;
    font-family: 'Pacifico', cursive
}

nav a {
    text-decoration: none;
}

nav a:hover{
    color: #CF4532;
}

nav ul{
    display: inline-block;
    grid-area: navigation;
    text-align: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin-top: 15px;
    font-size: 1.1rem;
    padding: 0 10px;
}

nav ul li a{
    color: rgb(41, 4, 19);
} 

/* section 1 */
#section1 {
    background: url(../images/contactUS.jpg) no-repeat bottom center;
    color : #ffffff;
    background-size: cover;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "section1";
}

#section1 div{
    grid-area: section1;
    padding: 70px 110px;
    text-align: center;
    margin-top: 30vh;
}

#section1 div h1{
    font-size: 5rem;
    line-height: 5.3rem;
}

/* section 3 */
#records_section3 {
    padding: 70px 110px;
    background-color: #E9E2D3;
}

#records_section3 h2{
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
}

#records_section3 > div{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "happyCustomers_step1 destinationPlaces_step2 cabins_step3 countries_step4";
    grid-column-gap: 50px;
    text-align: center;
}

#records_section3 div .step1{
    grid-area: happyCustomers_step1;
}

#records_section3 div .step2{
    grid-area: destinationPlaces_step2;
}

#records_section3 div .step3{
    grid-area: cabins_step3;
}

#records_section3 div .step4{
    grid-area: countries_step4;
}

.stepName{
    margin-top: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
}

.stepName a {
    text-decoration: none;
    color: rgb(41, 4, 19);
}

.stepName a:hover {
    text-decoration: none;
    color: #CF4532;
}

/* section 4 */
#contactUsForm_section4 {
    padding: 70px 110px;
}

#contactUsForm_section4 h2{
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
    margin-bottom: 50px;
}

#contactUsForm_section4 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". contactForm ."
    ". submitButton .";
    grid-column-gap: 10px;
}

#contactUsForm_section4 div form {
    grid-area: contactForm;
    min-width: 500px;;

}

#contactUsForm_section4 div form label{
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: bold;
}


#contactUsForm_section4 div form .inputStyle {
    padding: 20px 30px;
    margin-bottom: 45px;
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 4px;
    border-style: none;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #dbd1d1;
    width: 100%;
    box-sizing: border-box;
}

#contactUsForm_section4 div form a {
    text-decoration: none;
}

#contactUsForm_section4 div form .submitMessage{
    padding: 20px 30px;
    font-size: 1.1rem;
    border-radius: 4px;
    border-style: none;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #CF4532;
    color: #ffffff;
    grid-area: submitButton;
    cursor: pointer;
}


/* footer */
footer{
    background: #95AFBF;
    color: #1f0101;
    display: grid;
    grid-template-areas: 
    "companyAddress"
    "copyRight";
    font-size: 1.1rem;
}

footer .companyAddress{
    grid-area: companyAddress;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "addressInfo socialLinks";
    padding: 60px 0 40px 0;
}

footer .copyRight{
    grid-area: copyRight;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

footer .companyAddress p,dl{
    padding: 0 50px;
    margin:0 80px;  
}

footer .companyAddress p {
    grid-area: addressInfo;
    text-align: center;
}

footer .companyAddress p a{
    display: block;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 10px;
    color: rgb(41, 4, 19);
}

footer .companyAddress p a:hover{
    color: #CF4532;
}

footer .companyAddress p span{
    padding-top: 30px;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

footer .companyAddress dl{
    grid-area: socialLinks;
    text-align: center;
    margin-top: 15px;
}

footer .companyAddress dl dt{
    display: inline-block;
    margin-right: 30px;
    padding-top: 10px;
}

footer dl dt a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: 99px;
    overflow: hidden;
    background-size: cover;
}

footer dl dt.twitter a {
    background-image: url(../images/footerSocialMediaIcons/icons8-twitter-64.png);
}

footer dl dt.instagram a {
    background-image: url(../images/footerSocialMediaIcons/icons8-instagram-64.png);
}

footer dl dt.facebook a {
    background-image: url(../images/footerSocialMediaIcons/icons8-facebook-f-64.png);
}

footer dl dt.linkedin a {
    background-image: url(../images/footerSocialMediaIcons/icons8-linkedin-2-64.png);
}

/* Tablet Mode */
@media only screen and (max-width: 1024px) {
    nav{
        
        grid-template-areas: 
        " . . logo . ."
        "navigation navigation navigation navigation navigation";
        padding-top: 10px;
    }
    
    nav ul{
        text-align: center;
        margin-bottom: 15px;
        margin-right: 0;
    }

/* section 1 */
#section1 {
    color : #ffffff;
    background-size: cover;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "section1";
    background: url(../images/contactUS.jpg) no-repeat bottom center;

}

#section1 div{
    margin-top: 20vh;
}

#section1 div h1{
    font-size: 4rem;
    line-height: 5.3rem;
}


    /* section 3 */


#records_section3 h2{
    font-size: 2.3rem;
    line-height: 2.6rem;
}

.stepName{
    font-size: 1.1rem;
    line-height: 1.4rem;
}

/* section 4 */

#contactUsForm_section4 h2{
    font-size: 2.3rem;
    line-height: 2.6rem;
}

#contactUsForm_section4 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    ". contactForm ."
    ". submitButton .";
    grid-column-gap: 10px;
}

#contactUsForm_section4 div form {
    max-width: 500px;;

}

#contactUsForm_section4 div form label{
    font-size: 1.1rem;
    line-height: 1.4rem;
}

#contactUsForm_section4 div form .inputStyle {
    padding: 15px 20px;
    font-size: 1rem;
    line-height: 1.3rem;
}

#contactUsForm_section4 div form .submitMessage{
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 500;
}

/* footer */
footer{
    font-size: 1rem;
}

footer .companyAddress{
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    ". addressInfo socialLinks .";
}

footer .copyRight{
    font-size: 0.9rem;
}

footer .companyAddress p a{
    font-size: 1.1rem;
}

footer .companyAddress p span{
    font-size: 1.1rem;
    line-height: 1.4rem;
}

footer .companyAddress dl{
    grid-area: socialLinks;
    text-align: center;
    margin-top: 15px;
}

footer .companyAddress dl dt{
    margin-right: 0px;
}

}


/* Mobile Mode */
@media only screen and (max-width: 768px) {

/* section 1 */

#section1 div h1{
    font-size: 3.5rem;
    line-height: 3.8rem;
}
    /* section 3 */
    #records_section3 {
        padding: 70px 30px;
    }
#records_section3 h2{
    font-size: 2.1rem;
    line-height: 2.4rem;
}
#records_section3 > div{
    
    grid-column-gap: 25px;
}
.stepName{
    font-size: 0.9rem;
    line-height: 1.2rem;
}

/* section 4 */

#contactUsForm_section4 h2{
    font-size: 2.1rem;
    line-height: 2.4rem;
}

#contactUsForm_section4 div form {
    max-width: 300px;

}

#contactUsForm_section4 div form label{
    font-size: 1rem;
    line-height: 1.3rem;
}

#contactUsForm_section4 div form .inputStyle {
    padding: 12px 20px;
    font-size: 1rem;
    line-height: 1.3rem;
}

#contactUsForm_section4 div form .submitMessage{
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 500;
}

/* footer */
footer{
    font-size: 1rem;
}

footer .companyAddress{
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    ". addressInfo socialLinks .";
}

footer .copyRight{
    font-size: 0.9rem;
}

footer .companyAddress p a{
    font-size: 1rem;
}

footer .companyAddress p span{
    font-size: 1rem;
    line-height: 1.4rem;
}

footer .companyAddress dl{
    text-align: center;
    margin-top: 10px;
}


}